.header_nav {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-left: 10em;
  margin-right: 10em;
  color: white;
}
.header {
  background: rgba(22, 82, 240, 0.75);
  border-bottom: 2px solid #e5e5e5;
}
.header_menu {
  padding-top: 10px;
}
.header_menu > li {
  list-style: none;
  margin-left: 20px;
}
.header_menu > li > a {
  text-decoration: none;
  color: white;
  font-style: Bold;
  font-size: 22px;
  line-height: 27px;
  vertical-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header_logo {
  font-style: Bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 5px;
  line-height: 100%;
  vertical-align: center;
  letter-spacing: 15%;
  text-transform: uppercase;
}

.home_header {
  min-height: 540px;
  height: 100%;
  background: rgba(22, 82, 240, 0.75);
}
.about_header {
  min-height: 580px;
  height: 100%;
  background: rgba(22, 82, 240, 0.75);
}
.about_header > p,
.home_header > p {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 65px;
}

.trending_table {
  background: #fff;
  border-radius: 5px;
  border: none !important;
  align-content: center;
  align-items: center;
  align-self: center;
  margin-top: -23rem;
}
.trending_table td,
.trending_table th,
.trending_table tr {
  border: none;
}
.trending_table th {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #1652f0;
}
.trending_table > thead > .trending_title > th {
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1652f0;
  padding-bottom: 30px;
  letter-spacing: 3px;
}
.trending_table td {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
}
.trending_img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.td {
  padding-top: 27.5px !important;
}
select {
  background: #ffffff;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  align-items: center;
  align-content: center;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
}

select:focus {
  outline: none;
}

.card_home {
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1652f0;
  width: 100%;
  margin-top: 4em;
  margin-bottom: 2em;
  border-radius: 8px 8px 8px 8px;
}
.card_title {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 2.5em;
}
.card_content {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content_currencies {
  width: 100%;
}
#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: rgba(126, 146, 215, 1);
  user-select: none;
  cursor: pointer;
  font-weight: 600;
}
.container-card-currency {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card_currency {
  margin: 20px auto;
  width: 100%;
  max-width: 250px;
  min-height: 190px;
  border-radius: 8px;
  cursor: pointer;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
.card_currency:hover {
  -webkit-box-shadow: -2px 2px 9px 5px rgba(126, 146, 215, 1);
  -moz-box-shadow: -2px 2px 9px 5px rgba(126, 146, 215, 1);
  box-shadow: -2px 2px 9px 5px rgba(126, 146, 215, 1);
}
.card_header {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.card_headername {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 20px;
  word-break: keep-all;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #000000;
}

.card_headersymbol {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #000000;
}

.card_currencyprice {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card_pricechange {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15em;
  color: #cd3c4d;
  margin-bottom: 50px;
}

.card_footer {
  display: flex;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.low_24 {
  background: #cd3c4d;
  color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  border-bottom-left-radius: 8px;
}
.high_24 {
  background: #00a676;
  color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  border-bottom-right-radius: 8px;
}
.card-footer {
  padding: 0 !important;
  background-color: white !important;
}

.modal {
  width: 100%;
}
.modal_content {
  padding-left: 2em;
}
.rank_container {
  padding-left: 4.6em;
  padding-bottom: 2em;
}
.rank {
  padding-left: 4.6em;
  background: #333;
  color: #fff;
  width: auto;
  border-radius: 1.5px;
  padding: 3px;
}
.modal_content > .title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15em;
  color: #333;
}
.modal_content > .description {
  height: 30vh;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-wrap: break-word;
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 1.5px;
}
.official_link,
.current_price {
  font-weight: 600;
  color: #333;
}
.official_link > a {
  text-decoration: none;
  font-weight: 500;
}
.current_price > span {
  font-weight: 500;
  color: #333;
}
.about_container {
  margin-top: -26rem;
  padding: 15px;
}

.about_teams {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team_member > a > img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.theteam,
.thecrypto {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #fff;
  margin-bottom: 50px;
}

.team_member {
  display: flex;
  flex-direction: column;
}

.team_member > span {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.about_crypto {
  margin-top: 2rem;
  display: flex;
}
.thecrypto {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #1652f0;
  margin-top: 80px;
}

.about_crypto > .card {
  padding: 10px;
  font-family: Montserrat;
  font-size: 15px;
  color: #333;
  height: max-content;
  margin-top: 10px;
}
.about_crypto > img {
  margin: 10px;
  object-fit: contain;
  width: 300px;
  height: 300px;
}
.copyright {
  display: flex;
  flex-direction: column;
}
.footer {
  text-align: center;
  font-weight: 600;
}
